<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>
    <%- include('partials/header') %>

        <div class="container">
            <%- include('partials/tabs') %>

                <div id="overview-tab" class="tab-content active">
                    <%- include('partials/overview') %>
                </div>

                <div id="queues-tab" class="tab-content">
                    <%- include('partials/queues') %>
                </div>

                <div id="exchanges-tab" class="tab-content">
                    <%- include('partials/exchanges') %>
                </div>

                <div id="bindings-tab" class="tab-content">
                    <%- include('partials/bindings') %>
                </div>

                <div id="publish-tab" class="tab-content">
                    <%- include('partials/publish') %>
                </div>
        </div>

        <%- include('partials/modal') %>
            <%- include('partials/toast') %>

                <script src="/static/socket.io.min.js"></script>
                <script src="/static/js/main.js"></script>
                <script src="/static/js/overview.js"></script>
                <script src="/static/js/queues.js"></script>
                <script src="/static/js/exchanges.js"></script>
                <script src="/static/js/bindings.js"></script>
                <script src="/static/js/publish.js"></script>
                <script src="/static/js/utils.js"></script>
</body>

</html>